html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    background-image: url("../../Textures/Ak-47.png");
    width: 100%;
    height: 100%;
}

a {
    color: black;
    font-size: 50px;
    text-decoration: none;
    padding: 5px;
}

.name {
    font-size: 50px;
    text-decoration: none;
    padding: 5px;
}

.menu {
    display: none;
}

.selector {
    position: absolute;
    border: 3px solid #ccc;
    width: 20%;
    border-radius: 5px;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(18%, rgba(247, 247, 247, 1)), color-stop(37%, rgba(235, 232, 235, 1)), color-stop(52%, rgba(227, 224, 227, 1)), color-stop(64%, rgba(209, 205, 209, 1)), color-stop(75%, rgba(184, 184, 184, 1)), color-stop(100%, rgba(117, 117, 117, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 18%, rgba(235, 232, 235, 1) 37%, rgba(227, 224, 227, 1) 52%, rgba(209, 205, 209, 1) 64%, rgba(184, 184, 184, 1) 75%, rgba(117, 117, 117, 1) 100%);
}

.menu-option {
    cursor: pointer;
}

.toggler {
    cursor: pointer;
}

.menu-option:hover {
    border: 2px solid black;
    background-color: #cccccc;
}

.toggler:hover {
    border: 2px solid black;
    border-top: none;
    background-color: #cccccc;
}

.type {
    padding: 5px;
    border-bottom: 2px solid;
    font-size: 30px;
}

.camouflage-selector {
    left: 1450px;
    top: 50px;
}

.first-sight-selector {
    left: 50px;
    top: 160px;
}

.second-sight-selector {
    left: 1000px;
    top: 170px;
}

.side-mount-selector {
    left: 550px;
    top: 150px;
}

.mount-selector {
    left: 350px;
    top: 750px;
}

.barrel-selector {
    left: 50px;
    top: 450px;
}

.barrel-accessories-selector {
    left: 50px;
    top: 570px;
}

.magazine-selector {
    left: 1000px;
    top: 700px;
}

.ammo-selector {
    left: 1400px;
    top: 700px;
}